In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
crime=pd.read_csv(r'C:\Users\Ramesh\Downloads\New folder\crime.csv')

In [4]:
crime.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,NaN,6/15/2016 11:31:00 PM,NaN,3193983.0,1707251.0,-104.809881,39.773188,5,521,montbello,1,0
1,20186000994,20186000994239900,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,NaN,3201943.0,1711852.0,-104.781434,39.785649,5,522,gateway-green-valley-ranch,1,0
2,20166003953,20166003953230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3152762.0,1667011.0,-104.957381,39.663490,3,314,wellshire,1,0
3,201872333,201872333239900,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,NaN,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3157162.0,1681320.0,-104.941440,39.702698,3,312,belcaro,1,0
4,2017411405,2017411405230300,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,NaN,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3153211.0,1686545.0,-104.955370,39.717107,3,311,cherry-creek,1,0

In [5]:
crime.shape

(486273, 19)

In [6]:
crime.IS_CRIME.value_counts()

1    359686
0    126587
Name: IS_CRIME, dtype: int64

In [7]:
crime.columns

Index(['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X',
       'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID',
       'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC'],
      dtype='object')

In [8]:
crime.shape

(486273, 19)

In [9]:
crime.isnull().sum()  #null values checking by using null function.

INCIDENT_ID                    0
OFFENSE_ID                     0
OFFENSE_CODE                   0
OFFENSE_CODE_EXTENSION         0
OFFENSE_TYPE_ID                0
OFFENSE_CATEGORY_ID            0
FIRST_OCCURRENCE_DATE          0
LAST_OCCURRENCE_DATE      332679
REPORTED_DATE                  0
INCIDENT_ADDRESS           47793
GEO_X                       4007
GEO_Y                       4007
GEO_LON                     4007
GEO_LAT                     4007
DISTRICT_ID                    0
PRECINCT_ID                    0
NEIGHBORHOOD_ID                0
IS_CRIME                       0
IS_TRAFFIC                     0
dtype: int64

In [10]:
#sns.heatmap(crime.isnull(), cbar=False)  #graph representaion of null values

In [11]:

not_null=crime.replace(to_replace = np.nan, value = "140")
not_null.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,weapon-unlawful-discharge-of,all-other-crimes,6/15/2016 11:31:00 PM,140,6/15/2016 11:31:00 PM,140,3.19398e+06,1.70725e+06,-104.81,39.7732,5,521,montbello,1,0
1,20186000994,20186000994239900,2399,0,theft-other,larceny,10/11/2017 12:30:00 PM,10/11/2017 4:55:00 PM,1/29/2018 5:53:00 PM,140,3.20194e+06,1.71185e+06,-104.781,39.7856,5,522,gateway-green-valley-ranch,1,0
2,20166003953,20166003953230500,2305,0,theft-items-from-vehicle,theft-from-motor-vehicle,3/4/2016 8:00:00 PM,4/25/2016 8:00:00 AM,4/26/2016 9:02:00 PM,2932 S JOSEPHINE ST,3.15276e+06,1.66701e+06,-104.957,39.6635,3,314,wellshire,1,0
3,201872333,201872333239900,2399,0,theft-other,larceny,1/30/2018 7:20:00 PM,140,1/30/2018 10:29:00 PM,705 S COLORADO BLVD,3.15716e+06,1.68132e+06,-104.941,39.7027,3,312,belcaro,1,0
4,2017411405,2017411405230300,2303,0,theft-shoplift,larceny,6/22/2017 8:53:00 PM,140,6/23/2017 4:09:00 PM,2810 E 1ST AVE,3.15321e+06,1.68654e+06,-104.955,39.7171,3,311,cherry-creek,1,0

In [76]:
not_null.OFFENSE_CATEGORY_ID.head()

0    1
1    1
2    1
3    1
4    1
Name: OFFENSE_CATEGORY_ID, dtype: int64

In [12]:
#mean encoding
code=not_null.groupby('OFFENSE_TYPE_ID')['IS_CRIME'].mean()
not_null.OFFENSE_TYPE_ID=not_null['OFFENSE_TYPE_ID'].map(code)
code=not_null.groupby('OFFENSE_CATEGORY_ID')['IS_CRIME'].mean()
not_null.OFFENSE_CATEGORY_ID=not_null['OFFENSE_CATEGORY_ID'].map(code)
code=not_null.groupby('FIRST_OCCURRENCE_DATE')['IS_CRIME'].mean()
not_null.FIRST_OCCURRENCE_DATE=not_null['FIRST_OCCURRENCE_DATE'].map(code)

code=not_null.groupby('LAST_OCCURRENCE_DATE')['IS_CRIME'].mean()
not_null.LAST_OCCURRENCE_DATE=not_null['LAST_OCCURRENCE_DATE'].map(code)

code=not_null.groupby('REPORTED_DATE')['IS_CRIME'].mean()
not_null.REPORTED_DATE=not_null['REPORTED_DATE'].map(code)
code=not_null.groupby('INCIDENT_ADDRESS')['IS_CRIME'].mean()
not_null.INCIDENT_ADDRESS=not_null['INCIDENT_ADDRESS'].map(code)
code=not_null.groupby('NEIGHBORHOOD_ID')['IS_CRIME'].mean()
not_null.NEIGHBORHOOD_ID=not_null['NEIGHBORHOOD_ID'].map(code)
not_null.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,1,1,1.000000,0.620658,1.0,0.685728,3.19398e+06,1.70725e+06,-104.81,39.7732,5,521,0.796383,1,0
1,20186000994,20186000994239900,2399,0,1,1,0.666667,1.000000,1.0,0.685728,3.20194e+06,1.71185e+06,-104.781,39.7856,5,522,0.769513,1,0
2,20166003953,20166003953230500,2305,0,1,1,1.000000,1.000000,1.0,1.000000,3.15276e+06,1.66701e+06,-104.957,39.6635,3,314,0.715000,1,0
3,201872333,201872333239900,2399,0,1,1,1.000000,0.620658,1.0,1.000000,3.15716e+06,1.68132e+06,-104.941,39.7027,3,312,0.533581,1,0
4,2017411405,2017411405230300,2303,0,1,1,1.000000,0.620658,1.0,1.000000,3.15321e+06,1.68654e+06,-104.955,39.7171,3,311,0.641093,1,0

In [13]:
not_null.columns

Index(['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X',
       'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID',
       'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC'],
      dtype='object')

In [15]:
#mean encoding
# code=not_null.groupby('OFFENSE_TYPE_ID')['IS_CRIME'].mean()
# not_null.OFFENSE_TYPE_ID=not_null['OFFENSE_TYPE_ID'].map(code)
# code=not_null.groupby('OFFENSE_CATEGORY_ID')['IS_CRIME'].mean()
# not_null.OFFENSE_CATEGORY_ID=not_null['OFFENSE_CATEGORY_ID'].map(code)
# code=not_null.groupby('FIRST_OCCURRENCE_DATE')['IS_CRIME'].mean()
# not_null.FIRST_OCCURRENCE_DATE=not_null['FIRST_OCCURRENCE_DATE'].map(code)

# code=not_null.groupby('LAST_OCCURRENCE_DATE')['IS_CRIME'].mean()
# not_null.LAST_OCCURRENCE_DATE=not_null['LAST_OCCURRENCE_DATE'].map(code)

# code=not_null.groupby('REPORTED_DATE')['IS_CRIME'].mean()
# not_null.REPORTED_DATE=not_null['REPORTED_DATE'].map(code)
# code=not_null.groupby('INCIDENT_ADDRESS')['IS_CRIME'].mean()
# not_null.INCIDENT_ADDRESS=not_null['INCIDENT_ADDRESS'].map(code)
# code=not_null.groupby('NEIGHBORHOOD_ID')['IS_CRIME'].mean()
# not_null.NEIGHBORHOOD_ID=not_null['NEIGHBORHOOD_ID'].map(code)
# not_null.head()

In [16]:
not_null.shape

(486273, 19)

In [17]:
df_not_null=pd.DataFrame(not_null)
df_not_null.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,2016376978,2016376978521300,5213,0,1,1,1.000000,0.620658,1.0,0.685728,3.19398e+06,1.70725e+06,-104.81,39.7732,5,521,0.796383,1,0
1,20186000994,20186000994239900,2399,0,1,1,0.666667,1.000000,1.0,0.685728,3.20194e+06,1.71185e+06,-104.781,39.7856,5,522,0.769513,1,0
2,20166003953,20166003953230500,2305,0,1,1,1.000000,1.000000,1.0,1.000000,3.15276e+06,1.66701e+06,-104.957,39.6635,3,314,0.715000,1,0
3,201872333,201872333239900,2399,0,1,1,1.000000,0.620658,1.0,1.000000,3.15716e+06,1.68132e+06,-104.941,39.7027,3,312,0.533581,1,0
4,2017411405,2017411405230300,2303,0,1,1,1.000000,0.620658,1.0,1.000000,3.15321e+06,1.68654e+06,-104.955,39.7171,3,311,0.641093,1,0

In [18]:
x=df_not_null.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,16,18]]
y=df_not_null.iloc[:,17]

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [21]:
from sklearn.preprocessing import scale
df_not_null=scale(df_not_null)
df_not_null

D:\intern\lib\site-packages\sklearn\preprocessing\data.py:164: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

array([[-0.17472724, -0.17472724,  0.83034828, ...,  0.60940127,
         0.59324322, -0.59406056],
       [ 1.6076266 ,  1.6076266 , -0.86855488, ...,  0.3206272 ,
         0.59324322, -0.59406056],
       [ 1.60566499,  1.60566499, -0.92530574, ..., -0.26523111,
         0.59324322, -0.59406056],
       ...,
       [-0.17448481, -0.17448481,  0.96799928, ..., -0.67022441,
        -1.68564926,  1.68333005],
       [-0.17448651, -0.17448651,  1.00301577, ...,  1.27450893,
         0.59324322, -0.59406056],
       [ 1.60762769,  1.60762769, -0.92590947, ..., -0.29870805,
         0.59324322, -0.59406056]])

In [22]:
df_not_null_scale=pd.DataFrame(df_not_null)
df_not_null_scale.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.174727,-0.174727,0.830348,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,-0.171393,0.077305,0.115252,-0.085471,-0.084958,0.851674,0.867922,0.609401,0.593243,-0.594061
1,1.607627,1.607627,-0.868555,-0.354135,0.593243,0.593243,-0.182388,1.471483,0.625023,-0.171393,0.088144,0.135588,-0.084191,-0.083587,0.851674,0.873540,0.320627,0.593243,-0.594061
2,1.605665,1.605665,-0.925306,-0.354135,0.593243,0.593243,0.650291,1.471483,0.625023,0.826992,0.021175,-0.062601,-0.092109,-0.097021,-0.276602,-0.295074,-0.265231,0.593243,-0.594061
3,-0.352722,-0.352722,-0.868555,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.027166,0.000642,-0.091391,-0.092709,-0.276602,-0.306311,-2.214977,0.593243,-0.594061
4,-0.174626,-0.174626,-0.926513,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.021786,0.023736,-0.092018,-0.091124,-0.276602,-0.311929,-1.059517,0.593243,-0.594061

In [23]:
scale_df=pd.DataFrame(df_not_null_scale)
scale_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-0.174727,-0.174727,0.830348,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,-0.171393,0.077305,0.115252,-0.085471,-0.084958,0.851674,0.867922,0.609401,0.593243,-0.594061
1,1.607627,1.607627,-0.868555,-0.354135,0.593243,0.593243,-0.182388,1.471483,0.625023,-0.171393,0.088144,0.135588,-0.084191,-0.083587,0.851674,0.873540,0.320627,0.593243,-0.594061
2,1.605665,1.605665,-0.925306,-0.354135,0.593243,0.593243,0.650291,1.471483,0.625023,0.826992,0.021175,-0.062601,-0.092109,-0.097021,-0.276602,-0.295074,-0.265231,0.593243,-0.594061
3,-0.352722,-0.352722,-0.868555,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.027166,0.000642,-0.091391,-0.092709,-0.276602,-0.306311,-2.214977,0.593243,-0.594061
4,-0.174626,-0.174626,-0.926513,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.021786,0.023736,-0.092018,-0.091124,-0.276602,-0.311929,-1.059517,0.593243,-0.594061

In [24]:
scale_df.columns=['INCIDENT_ID', 'OFFENSE_ID', 'OFFENSE_CODE', 'OFFENSE_CODE_EXTENSION',
       'OFFENSE_TYPE_ID', 'OFFENSE_CATEGORY_ID', 'FIRST_OCCURRENCE_DATE',
       'LAST_OCCURRENCE_DATE', 'REPORTED_DATE', 'INCIDENT_ADDRESS', 'GEO_X',
       'GEO_Y', 'GEO_LON', 'GEO_LAT', 'DISTRICT_ID', 'PRECINCT_ID',
       'NEIGHBORHOOD_ID', 'IS_CRIME', 'IS_TRAFFIC']

In [25]:
scale_df.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,-0.174727,-0.174727,0.830348,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,-0.171393,0.077305,0.115252,-0.085471,-0.084958,0.851674,0.867922,0.609401,0.593243,-0.594061
1,1.607627,1.607627,-0.868555,-0.354135,0.593243,0.593243,-0.182388,1.471483,0.625023,-0.171393,0.088144,0.135588,-0.084191,-0.083587,0.851674,0.873540,0.320627,0.593243,-0.594061
2,1.605665,1.605665,-0.925306,-0.354135,0.593243,0.593243,0.650291,1.471483,0.625023,0.826992,0.021175,-0.062601,-0.092109,-0.097021,-0.276602,-0.295074,-0.265231,0.593243,-0.594061
3,-0.352722,-0.352722,-0.868555,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.027166,0.000642,-0.091391,-0.092709,-0.276602,-0.306311,-2.214977,0.593243,-0.594061
4,-0.174626,-0.174626,-0.926513,-0.354135,0.593243,0.593243,0.650291,-0.672774,0.625023,0.826992,0.021786,0.023736,-0.092018,-0.091124,-0.276602,-0.311929,-1.059517,0.593243,-0.594061

In [26]:
from sklearn import model_selection
from sklearn.ensemble import RandomForestRegressor
# random forest model creation
rdforest = RandomForestRegressor()
rdforest.fit(x_train,y_train)
# predictions
rdforest_predict = rdforest.predict(x_test)
#d=pd.DataFrame(rdforest_predict)
#d.head()

In [27]:
scale_df.shape

(486273, 19)

In [42]:


from sklearn.metrics import confusion_matrix,accuracy_score

In [43]:
x_train.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,NEIGHBORHOOD_ID,IS_TRAFFIC
368450,2017480903,2017480903501600,5016,0,1,1,1.0,1.000000,1.000000,1.000000,3.12594e+06,1.68475e+06,-105.052,39.7126,4,0.753517,0
45998,2019321467,2019321467544100,5441,0,0,0,0.0,0.620658,0.000000,0.000000,3.15446e+06,1.6876e+06,-104.951,39.72,3,0.641093,1
272875,2015128572,2015128572220200,2202,0,1,1,0.5,1.000000,1.000000,1.000000,3.17064e+06,1.69464e+06,-104.893,39.739,2,0.885277,0
24373,2018361317,2018361317544100,5441,0,0,0,0.0,0.620658,0.666667,0.685728,3.11782e+06,1.66838e+06,-105.081,39.6677,4,0.826412,1
276620,2014354387,2014354387542000,5420,0,0,0,0.0,0.620658,0.000000,0.000000,3.1433e+06,1.71088e+06,-104.99,39.7841,1,0.571751,1

In [44]:
x_train.shape

(389018, 17)

In [61]:
accuracy_score(rdforest_predict,y_test)

1.0

In [62]:
confusion_matrix(rdforest_predict,y_test)

TypeError: 'numpy.ndarray' object is not callable

In [63]:
FP = confusion_matrix.sum(axis=0) - np.diag(confusion_matrix)  
FN = confusion_matrix.sum(axis=1) - np.diag(confusion_matrix)
TP = np.diag(confusion_matrix)
TN = confusion_matrix.sum() - (FP + FN + TP)

# Sensitivity, hit rate, recall, or true positive rate
TPR = TP/(TP+FN)
# Specificity or true negative rate
TNR = TN/(TN+FP) 
# Precision or positive predictive value
PPV = TP/(TP+FP)
# Negative predictive value
NPV = TN/(TN+FN)
# Fall out or false positive rate
FPR = FP/(FP+TN)
# False negative rate
FNR = FN/(TP+FN)
# False discovery rate
FDR = FP/(TP+FP)

# Overall accuracy
ACC = (TP+TN)/(TP+FP+FN+TN)

In [64]:
FPR

     0
0  0.0
1  0.0